

#footer-graphic {
  margin-top: 6rem;
}

#base-rectangle {
  fill: var(--body-background-inverse-color) !important;
}

#linearGradientMain {
  stop:nth-child(1) {
    stop-color:var(--footer-gradient-one);
    stop-opacity:1;
  }
  stop:nth-child(2) {
    stop-color:var(--body-background-inverse-color);
    stop-opacity:1;
  }
  stop:nth-child(3) {
    stop-color:var(--body-background-inverse-color);
    stop-opacity:1;
  }
}

#linearGradientAlternate {
  stop:nth-child(1) {
    stop-color:var(--body-background-inverse-color);
    stop-opacity:0.5;
  }
  stop:nth-child(2) {
    stop-color:var(--body-background-inverse-color);
    stop-opacity:0.3;
  }
  stop:nth-child(3) {
    stop-color:var(--body-background-inverse-color);
    stop-opacity:0.0;
  }
}

@keyframes grow {
  0%   { transform: scaleY(0.8) scaleX(1.0); }
  50%  { transform: scaleY(1.0) scaleX(1.3); }
  100% { transform: scaleY(0.8) scaleX(1.0); }
}

@keyframes grow-2 {
  0%   { transform: scaleY(0.8) scaleX(1.0); }
  50%  { transform: scaleY(1.0) scaleX(1.5); }
  100% { transform: scaleY(0.8) scaleX(1.0); }
}

#footer-shape-one {
  animation: grow 30s forwards;
  animation-iteration-count: infinite;
  animation-delay: -3s;
}

#footer-shape-two {
  animation: grow-2 35s forwards;
  animation-iteration-count: infinite;
}

#back-to-top-button {
  position: fixed;
  right: 0;
  bottom: 4rem;
  padding: 0px 3px;
  background: var(--body-background-color);
  border: 1px solid var(--body-background-inverse-color);
  font-size: 2rem;
  cursor: pointer;
  border-width: 1px;
  z-index: 100;
  color:  var(--body-background-inverse-color) !important;


  @media only screen and (max-width: $mobile-breakpoint) {
    bottom: 4rem;
  }
}

#cookies-message {
  position: fixed;
  width: 100%;
  bottom: 0px;
  background: #c6e9f3;
  padding: 0.75rem;
  color: #4e4e4e;
  text-align: center;
  box-shadow: 0 -1px 19px #343434;

  @media only screen and (max-width: $mobile-breakpoint) {
   top: 0;
   bottom: unset;
  }

}

#acceptCookieButton {
  border-radius: 5px;
  background: none;
  border: 1px solid #6bb9f5;
  color:#0078f9;
  margin: 0 1rem;
  padding: 0.25rem 1rem;
}

#acceptCookieButton:hover { 
  background-color: #6bb9f5;
  border: 1px solid transparent;
  color:#fff;
  transition: all 0.2s ease;
}

/* footer styles */
footer {
  margin-top: -1px; /* fix to help footer and footer graphic blend together */
  background: var(--body-background-inverse-color) !important;
  padding: 1rem;
  font-size: unset;

  & a {
    display: block;
    text-align: left;
    color: var(--body-background-color-alternate);
    fill: var(--body-background-color-alternate);
    text-decoration: none;
  }
  & a:hover {
    text-decoration: underline;
    color: var(--body-background-color-alternate);
  }

  & h3 {
    text-align: left;
    color: var(--body-background-color-alternate);
  }

  .external-link-icon {
    fill: var(--text-color);
  }
  

}

.footer-section {
  margin-bottom: 2rem;
}
