/* LAYOUT */

a {
  color: var(--link-color);
  text-decoration: underline;
  text-decoration-color: inherit;
  transition: text-decoration-color;
  transition-duration: 500ms;

  &:hover {
    text-decoration-color: transparent;
  }
}


audio {
  display: block;
  width: 100%;
}

figure {
  text-align: center;
}
figcaption {
  margin: 0.5rem;
  font-style: italic;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
}

h2, h3, h4 {
  margin-top: 3rem;
}

input {
  &.search-input {
    padding: 1rem;
    margin-block: 1rem;
  }

}

code, li > code {
  padding: 0.75rem;
  margin-top: 1rem;
}

.flex-spacer {
  // used in flexbox displays to help align things to end
  flex: auto;
}

.max-content-width {
  margin: auto;
  max-width: $max-screen-width-size;
}

.header {
  position: sticky;
  background: var(--body-background-color);
  top: 0;

  @media only screen and (max-width: $mobile-breakpoint) {
      top: unset;
      bottom: 0;
      position: fixed;   
  }
}




header:after, footer:before {
  visibility: hidden !important;
}

.navbar {
  max-width: $max-screen-width-size;
  padding: 0.5rem;
  box-shadow: 0 0 4px grey;

  a.active {
    background-color: unset;
  }

  .app-logo img {
    width: 7.5rem;
    height: auto;
  }

  .donate-button a {
    padding: 0.5rem 1rem;
  }


  .navbar-collapse .nav-item {
    margin-bottom: 0;
    border-bottom: 2px solid transparent;
    margin: auto 0.5rem;
    transition: all;
    transition-duration: 500ms;

    
    &:not(.donate-button) {

      display: flex;
      justify-content: space-between;
      align-items: center;

      &:hover {
        border-bottom: 2px solid var(--navbar-link-color);       

      }
    }

    &.active {
      border-bottom: 2px solid var(--navbar-link-color);
    }

    a.nav-link {
      height: 40px;
      line-height: 125%;
      display: flex;
      align-items: center;

      span {
        color: var(--navbar-link-color);
      }
    }

    a.button {
      color: white;
    }
  }
}

.navbar-brand {
  background-color: unset !important;
}

.inline {
  display: inline-block;
}

.logo {
  font-size: 1.8rem;
  color: white;
}

.tabbed-section-container {
  padding: 0.5rem;
  background: #506782;
}
.tabbed-section-container a {
  color: #d9d9d9;
  text-decoration: none;
 }
 .tabbed-section-container a:hover {
  color: white;
 }

.container-padding {
  padding: 2rem;
  max-width: $max-screen-width-size;
  margin: auto;

  &.credits {
    padding: 0.5rem;

    @media only screen and (max-width: $mobile-breakpoint) {
      text-align: center;

      div {
        padding: 0.5rem;
      }
    }

  }
}

.krita-logo {
  content:url("/images/krita-logo-light.svg");
}

@include color-mode(dark) {
  .krita-logo {
    content:url("/images/krita-logo-dark.svg");
  }
}

.dark {
  background: var(--body-background-inverse-color);  
}
.dark h2, .dark h3, .dark li, .dark p {
  color: var(--body-background-color);  
}


/* LISTS */

.thumbnail-container {
  width: 15rem;
  height: 15rem;
  box-shadow: 3px 3px 3px #868686;
  margin: auto;

  @media only screen and (max-width: $mobile-breakpoint) {
    width: 100%;
    height: 230px;
    display: block;
    margin-bottom: 1rem;
  }
}

@include color-mode(dark) {
  .thumbnail-container {
    box-shadow: none;
  }
}


.post {
  margin: 0 19%;
  margin-top: 5rem;
  max-width: $max-screen-width-size;

  @media only screen and (max-width: $mobile-breakpoint) {
    margin: 0 8%;
    margin-top: 5rem;
  }

}

.vertical-divider {
  color: #d4bfbf;
  font-weight: bold;
  margin: 0 0.25rem;
}

.posts-listing {
  display: grid;
  column-gap: 4%;
  margin: 0%;

  @media only screen and (max-width: $mobile-breakpoint) {
    display: grid;
    grid-template-columns: 100%;
    column-gap: 1%;
  }

  a {
    color: black;
    font-weight: normal;
    &:hover {
      text-decoration: none;
    }
  }
}

.post-snippet {
  padding: 2rem;

  border-radius: 3px;
  margin-bottom: 1rem;

  & h2 {
    margin-bottom: 0.25rem;
    margin-top: 0;
  }
  
  & a {
    font-size: 1.5rem;
  }

  @media only screen and (max-width: $mobile-breakpoint) {
    padding: 1rem;
 }
 
}



.card {
  text-decoration: none;

  & article {
    transition: all 0.2s ease-in;

    &:hover {
      background: #f2f3f3;
    }
    &:hover h2 {
      text-decoration: underline;
    }
  }
  
}


.preview {
  display: grid;
  column-gap: 25px;
}
@media only screen and (max-width: $mobile-breakpoint) {
  .preview {
    display: block;
  }

}


.section {
  grid-row: 1 / span 2;
}

a.post-item {
  padding: 1rem;
  background: var(--body-background-color);
  transition: all 0.2s linear;
  text-decoration: none;
  color: var(--text-color);
  font-size: 100%;

  & div {
    margin-bottom: 0.5rem;
  }

  &:hover .title {
    text-decoration: underline;
  }

  &:hover {
    background: var(--body-background-color-alternate);
    border-radius: 3px;
  }
}

input.search-input {
  padding: 0.75rem;
  background: #80808017;
}


/* button style (which is in an anchor tag for a link) */
a.button, .button, .primary-button, a.primary-button, input.primary-button {
  text-decoration: none;
  background: -webkit-linear-gradient(top, #39a3f2 1%, #0078f9 100%);
  background: linear-gradient(to bottom, #39a3f2 1%, #0078f9 100%);
  text-align: center;
  display: inline-block;
  padding: 1rem 1.5rem;
  border-radius: 0.2em;
  border: 0;
  color: white;
  text-transform: uppercase;
  box-shadow: 3px 5px 10px #04060766;
}

@include color-mode(dark) {
  a.button, .button, .primary-button {
    box-shadow: none;
  }
}

a.button:hover,
.primary-button:hover {
  background: -webkit-linear-gradient(top, #6bb9f5 1%, #0078f9 100%);
  background: linear-gradient(to bottom, #6bb9f5 1%, #0078f9 100%);
  color: white;
}


a.button.ghost, .ghost {
  background: none;
  border: 2px solid var(--accent-color);
  box-shadow: none;
  color: var(--accent-color) !important;
  margin-bottom: 1rem;
  margin-right: 0.5rem;
  padding: 0.5rem 1.5rem;
  transition: all 0.5s ease;
  font-size: 80%;
  transform: scale(1.0, 1.0);
  font-weight: 600;

  &:hover {
    border: 2px solid rgb(180, 240, 255);
    transform: scale(1.05, 1.05);
    background: var(--body-background-color-alternate);
  }
  

}

// shop-item shortcode
.shop-price {
  font-weight: bold;
  margin: 1rem 0;
}

// support-krita-callout shortcode
.support-krita-callout {
  padding: 2rem;
  margin: 2rem 0;
}

.support-krita-callout .illustration {
  height: fit-content;
  border-radius: 8px;
  padding: 1rem;

}

.circle-button img {
  filter: brightness(var(--image-brightness-filter));
}


// interview_item partial
.interview-img {
  border: 1px solid #cbcbcb;
  background-color: #e8e8eb;
  background-size: cover;
  height: 13rem;
  margin-bottom: 1rem;
}


/* These two classes help keep youtube video a 16:9 aspect ratio 
   The youtube embed code needs a wrapper. This code is used in the features template
*/
.video_wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9, for an aspect ratio of 1:1 change to this value to 100% */ 
}
iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.slim-her-title-container {
  margin: 0 17%;

  @media only screen and (max-width: $mobile-breakpoint) {
    margin: 0;
  }
}

#slim-hero {
  width: 100%; 
  height: 27rem; 
  margin: auto;
  max-width: $max-screen-width-size;
  position: relative;

  &::after {
    content: '';
    background: var(--body-background-color-alternate);
    position: absolute;
    z-index: -1;
    inset: 0;

    transform: skewY(-1.5deg);
  }

}

@include color-mode(dark) {
  #slim-hero {
    box-shadow: none;
  }
}

.slim-hero-title {
  top: 8rem; 
  position: relative; 
  text-align: center;


  @media only screen and (max-width: $mobile-breakpoint) {
    font-size: 0.7rem;
  }

  h1 {
    padding: 1.5rem 2rem;
    background: var(--body-background-color-alternate);
    color: var(--text-color);
    display: inline-flex;
  }

}

.slim-hero-credit-container {
  margin: 0 17%; 
  padding: 0.5rem;
}
.hero-credit{
  color: grey;
  text-align: center;

  @media only screen and (max-width: $mobile-breakpoint) {
    float: none;
    text-align: center;
  }


  a{
    color: grey;
    --link-color: grey;

    &:hover {
      text-decoration: none;
    }

  }

}


.full-width-panel {
  padding: 2rem;
  color: var(--body-background-color);  
  background: var(--body-background-inverse-color);  
  text-align: center;
  padding-bottom: 6rem;
  max-width: $max-screen-width-size;
  margin: auto;

  & h2 {
    font-size: 3.5rem;
    color: var(--body-background-color);  
  }

  & p, & a {
    color: var(--body-background-color);  
  }
}

.hero-credits {
  background: var(--body-background-inverse-color);
  padding: 0.5rem; 
  max-width: $max-screen-width-size;
  margin: auto;

  & div, & a{
    color: var(--body-background-color-alternate);
    --link-color: var(--body-background-color-alternate);
  }

  & img {
    height: 20px;
  }
}


.social-media .grow-container {
  width: 2rem;
  display: inline-block;
}

.social-media a {
  text-decoration: none;

	color: #ccc;
	display: inline-block;
  border-radius: 25%;
	transition: all 0.2s ease;

  &:hover {
    background: var(--accent-color);
    animation: circle-anim 0.3s ease forwards;
    transition: all 0.4s ease;
  }
}


.rss-icon {
  width: 20px;
  position: relative;
  top: -0.5rem;

  &:hover {
    opacity: 0.8;
  }
}

@keyframes circle-anim{
	0% {
		
	}
	
	90%{
		padding: 0.35em;
		margin: -0.35em; 
	}
	
	100%{
		padding: 0.25em;
		margin: -0.25em; 
	}
}


.external-link-icon {
  vertical-align: baseline;
  margin-left: 0.25rem;
  fill: var(--link-color);
}


// Shop Page

.shop-item {
  width: 100%; 
  height: 100%; 

  @media only screen and (max-width: $mobile-breakpoint) {
    height: 10rem; 
    margin-bottom: 1rem;  
  }
}
// Adds a slight hover effect to KDE logo (homepage)
.home-kdelogo:hover {
  filter: brightness(80%);
  transition: all 0.2s ease;
}

// navigation search area popup
.navbar-expand-lg {
  .navbar-nav .dropdown-menu {
      position: absolute;
      padding: 0;
      right: 0;
      border: none;
      box-shadow: 0px 0px 9px #00000036;
  }
}

.sponsor-item
{
  margin: 0.5rem;
  display: flex;
  border: 1px solid #d9d9d9;
  padding: 1.5rem;
  border-radius: 3px;


  column-gap: 2rem;
 
  .image-container {
    flex: 1;
    background: #f1f1f1;
    padding: 2rem;
    display: flex;
  }

  & label {
    flex: 1;
  }

  img {
    width: auto;
    max-height: 160px;
    margin: auto
  }
}
