* {
    font-family: "Inter", var(--system-fonts);
    letter-spacing:normal;
    font-style: normal;
    font-weight: 300;
    line-height: 125%;
    color: var(--main-text-color);
}

h1, h2, h3, h4 {
  font-family: "Quicksand", "Inter", var(--system-fonts);
  font-style: normal;
  font-weight: 300;
  margin-bottom: 0.5rem;
}

h1 {
  font-size: 250%;
  text-align: center;
  margin-bottom: 2rem;
}

h2, h3 {
  font-weight: 400;
  margin: 1rem 0;
  margin-top: 3rem;
  font-size: 200%;
}

h3 {
  font-size: 140%;
}

h4 {
  font-size: 120%;
}


li {
  margin-bottom: 1rem;
}

code, pre {
  color: white;
  line-height: 148%;
  padding: 0.5rem;
  border-radius: var(--container-border-radius);
  background: #4a5765;
  overflow: auto;
  margin: 0.5rem 0;
  display: block;
}
