@import "hugo:vars";
@import "bootstrap/mixins";

@import "variables";

.row img {
  width: 100%;
  padding-top: 0;
}

.row h3 {
  margin-top: 0;
}

.row.spacer {
  margin-top: 3rem;
}

h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.features-homepage-image {
  height: 30rem;
  width: 100%;
  display: block;
  background: url(/images/pages/ngan-pham-03-2-resize.webp);
  background-size: cover;
  background-position: center top;
  max-width: $max-screen-width-size;
  margin: auto;
  margin-bottom: 0.5rem;
  border-radius: var(--container-border-radius);
}

@include color-mode(dark) {
  .features-homepage-image {
    box-shadow: none;
  }
}

.features-hero-content {
  text-align: center;
  font-size: 2.5rem;

  position: relative;
  float: right;
  top: 7rem;
  margin-right: 6rem;

  ul {
    list-style: none;
    transform: rotateZ(351deg);
    background: rgb(54, 157, 197);
    padding: 1rem;
    box-shadow: 3px 3px 3px #454e4e;
    border-radius: 1rem;
    border-style: dotted;
    border-color: white;
    border-width: 4px;

    li {
      color: white;
      margin-bottom: 0;
      font-family: 'Quicksand';
      line-height: 138%;
      font-weight: 700;

      --features-stroke-color: #1e5431;
    }
  }

  @media only screen and (max-width: $mobile-breakpoint) {
    font-size: 1.8rem;
    float: none;
  }
}

div.feature-section {
  margin-bottom: 2rem;
  padding: 2rem;
  padding-bottom: 0;

  img {
    margin: 1rem 0;
    padding: 0;
    border-radius: 3px;
    border: 1px solid grey;
  }
}

.productivity-section .box {
  margin: 1rem;
  border: 2px solid var(--body-background-color-alternate);
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 5px;
  min-height: 20rem;

  img {
    width: auto;
    display: inline-block;
    padding: 0;
    position: relative;
    top: -5px;
  }

  h4 {
    display: inline-block;
    margin-top: 0;
  }
}

.inverted-divider {
  color: var(--body-background-color); 
}