{{ define "main" }}
<!-- load in random artwork into this top section-->
<div id="slim-hero">
        <div class="container-padding slim-her-title-container">
            <div class="slim-hero-title">
                <h1>{{ .Title }}</h1>
            </div>
        </div>
</div>

<div class="container-padding slim-hero-credit-container">
    <div  class="hero-credit">
        {{ partial "art-by.html" (dict "context" "." "id" "credit-link" "name" "" "url" "#") }}
    </div>
</div>

<div class="post" >
    {{ .Content }}
</div>
{{ end }}

{{ define "tail-import" }}
{{ $script := resources.Get "/js/simple.js" | minify | fingerprint -}}
<script src="{{ $script.RelPermalink }}" integrity="{{ $script.Data.Integrity }}" crossorigin="anonymous"></script>
{{ end }}
