<base href="{{ .Site.BaseURL }}">

<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ if .IsPage }}{{ .Summary }}{{ else }}{{ .Site.Params.description }}{{ end }}{{ end }}">
{{ $title := .Title }}
{{ if .IsHome }}
{{ $title = print $.Site.Title " | " $title }}
<title>{{ $title }}</title>
{{ else }}
<title>{{ $title }} | {{ $.Site.Title }}</title>
{{ end }}

<link href="images/favicon.ico" rel="shortcut icon" type=image/vnd.microsoft.icon>

{{ with .OutputFormats.Get "RSS" }}<link href="{{ .RelPermalink }}" rel="alternate" type="application/rss+xml" title="{{ $title }}" />{{ end }}

{{ template "_internal/opengraph.html" . }}
{{ template "_internal/twitter_cards.html" . }}

{{ partial "json_ld.html" . }}
